body{
  width:400px;
  background-color:#F2F2F2;
}
ul{
  padding:10px;
  color:#0A2A12;
  font-size:20px;
  font-weight:bold;
}
li{
  margin:8px 0;
  font-size:14px;
  font-weight:normal;

}
a{
  color:#2E64FE;
  text-decoration:none;
}
a:hover{
  opacity:0.2;
}
img{
  margin-right:10px;
}
.btn{
  cursor:pointer;
}
.hidden{
  display:none;
}
.visible{
  display:visibility;
}
















